FIREBASE_API_KEY=replace_with_rotated_key
FIREBASE_AUTH_DOMAIN=infinitybyteportfolio.firebaseapp.com
FIREBASE_PROJECT_ID=infinitybyteportfolio
FIREBASE_STORAGE_BUCKET=infinitybyteportfolio.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=596641776462
FIREBASE_APP_ID=1:596641776462:web:3168a5a2a20c465418941f
FIREBASE_MEASUREMENT_ID=G-8D2DRBQE5B
